extends ./layout.pug

block append js
  - if (settings.envflag !== "production")
    script(src='../../bower_components/angular-ui-router/release/angular-ui-router.js')

block append scripts
  script(src=paths+"/angular-router.js" type="text/javascript")
  script(src=paths+"/angular.js" type="text/javascript")
  script(src=paths+'/controllers/main.js')
  script(src=paths+'/controllers/material-table.js')
  script(src=paths+'/services/PeopleService.js')
  - for (var i =0,component=['hello','about','people','person'];i< component.length;++i){
    script(src=paths+'/component/'+component[i]+'.js')
  - }
block append css
  style.
    .active { color: red; font-weight: bold; }

block content
  h1 Angular UI Router

  ul
    li
      a(ui-sref='hello' ui-sref-active='active') Hello
    li
      a(ui-sref='about' ui-sref-active='active') About
    li
      a(ui-sref='people' ui-sref-active='active') People

  ui-view

